In [1]:
from dateutil.tz import tzutc
from dateutil.parser import parse

import pandas as pd
import numpy as np
from tqdm import tqdm, tqdm_notebook, tqdm_pandas

from data.models import Allegation, Area
from data_importer.base.storage import AzureStorage

In [2]:
storage = AzureStorage(account_name='cpdbv2data', 
                       account_key='your-key-here',
                       share='cleaned-data')
import_db = 'import'

## Read Complaints data

In [3]:
df = pd.read_csv(
    storage.path_for('complaints/complaints.csv'),
    usecols=['CRID', 'Location.Code', 'Street', 'Address.Number', 'City.State', 'Incident.Date', 'Incident.Time'],
    parse_dates={'Incident.DateTime': ['Incident.Date', 'Incident.Time']},
    date_parser=lambda x: parse(x, tzinfos=tzutc),
    na_values=['-----', '----']
)
df = df.rename(columns={
    'CRID': 'crid',
    'Location.Code': 'location',
    'Street': 'add2',
    'Address.Number': 'add1',
    'City.State': 'city',
    'Incident.DateTime': 'incident_date'
})

#### There are some records in this data are duplicated. So we need to remove duplicated records

In [4]:
df = df.drop_duplicates()

#### Add Investigator id

In [5]:
def get_investigator_id(crid):
    df = df_investigators[df_investigators['CRID']==crid]
    if df.empty:
        return np.NaN
    return df.iloc[0]['investigators_ID']

In [6]:
tqdm.pandas(tqdm_notebook(), desc='Adding investigator id')
df_investigators = pd.read_csv(
    storage.path_for('complaints/investigators.csv'),
    usecols=['investigators_ID', 'CRID']
)
df['investigator_id'] = df['crid'].progress_apply(get_investigator_id)

A Jupyter Widget

Adding investigator id: 100%|██████████| 109339/109339 [01:04<00:00, 1701.21it/s]

## Clean Complaints data

#### Do following clean steps
* Replace all `NaN` with `None`
* add2/city/location: Replace `None` with `''`

In [7]:
df = df.where(pd.notnull(df), None)
df['add2'] = df['add2'].apply(lambda x: x if x is not None else '')
df['city'] = df['city'].apply(lambda x: x if x is not None else '')
df['location'] = df['location'].apply(lambda x: x if x is not None else '')

## Import Complaints data

#### Delete all existing Allegations before importing

In [8]:
Allegation.objects.using(import_db).delete()

(0, {})

#### Import and print out the imported data

In [9]:
tqdm.pandas(tqdm_notebook(), desc='Importing Allegation data')
df.progress_apply(lambda x: Allegation.objects.using(import_db).create(**x), axis=1)

pd.DataFrame.from_records(Allegation.objects.using(import_db).all().values())

A Jupyter Widget

Importing Allegation data:   0%|          | 0/7 [00:00<?, ?it/s]

Importing Allegation data: 109339it [02:33, 712.61it/s]

,add1,add2,beat_id,city,crid,id,incident_date,investigator_id,location,point,source,summary
0,5327.0,W CHICAGO,None,CHICAGO IL,258996,1,2000-01-01 01:20:00+00:00,1.0,04,None,,
1,4316.0,W JACKSON,None,CHICAGO IL,258997,2,2000-01-01 01:30:00+00:00,2.0,17,None,,
2,500.0,W ILLINOIS,None,CHICAGO IL,258998,3,2000-01-01 00:28:00+00:00,3.0,17,None,,
3,NaN,,None,CHICAGO IL,258999,4,2000-01-01 03:30:00+00:00,4.0,17,None,,
4,5327.0,W CHICAGO AVE,None,CHICAGO IL,259000,5,2000-01-01 05:00:00+00:00,5.0,04,None,,
5,2940.0,E 87TH ST,None,CHICAGO IL,259001,6,2000-01-01 04:39:00+00:00,6.0,17,None,,
6,8726.0,S MARSHFIELD,None,CHICAGO IL,259002,7,2000-01-01 01:15:00+00:00,7.0,17,None,,
7,NaN,,None,CHICAGO IL,259003,8,2000-01-01 12:01:00+00:00,8.0,04,None,,
8,NaN,,None,CHICAGO IL,259005,9,2000-01-01 00:00:00+00:00,9.0,14,None,,
9,NaN,,None,CHICAGO IL,259006,10,2000-01-01 14:30:00+00:00,10.0,07,None,,
10,NaN,,None,,259007,11,2000-01-01 03:00:00+00:00,11.0,19,None,,
11,1353.0,S WABASH,None,CHICAGO IL 60605,259008,12,2000-01-01 12:30:00+00:00,12.0,03,None,,
12,9100.0,S COTTAGE GROVE,None,CHICAGO IL,259010,13,2000-01-01 18:30:00+00:00,13.0,17,None,,
13,663.0,W 43RD PLACE,None,CHICAGO IL 60609,259011,14,2000-01-01 19:05:00+00:00,14.0,17,None,,
14,7200.0,N DAMEN,None,CHICAGO IL,259012,15,2000-01-01 13:30:00+00:00,15.0,17,None,,
15,106.0,W 105TH,None,CHICAGO IL 60643,259013,16,2000-01-01 20:30:00+00:00,16.0,17,None,,
16,3150.0,W HARRISON,None,CHICAGO IL,259014,17,2000-01-01 17:30:00+00:00,17.0,04,None,,
17,2702.0,N KIMBAL,None,CHICAGO IL,259015,18,2000-01-01 20:35:00+00:00,18.0,17,None,,
18,7000.0,S GREEN,None,CHICAGO IL,259016,19,2000-01-02 00:45:00+00:00,16.0,17,None,,
19,3151.0,W HARRISON,None,CHICAGO IL,259017,20,2000-01-01 18:35:00+00:00,19.0,04,None,,
20,2534.0,W 64TH ST,None,CHICAGO IL,259018,21,2000-01-02 01:00:00+00:00,8.0,17,None,,
21,2958.0,N MILWAUKEE,None,CHICAGO IL,259019,22,2000-01-02 01:10:00+00:00,20.0,17,None,,
22,NaN,,None,CHICAGO IL,259020,23,2000-01-02 08:45:00+00:00,21.0,08,None,,
23,2515.0,W JACKSON,None,CHICAGO IL,259021,24,2000-01-02 10:50:00+00:00,22.0,15,None,,
24,NaN,,None,CHICAGO IL,259023,25,2000-01-02 12:20:00+00:00,23.0,17,None,,
25,1200.0,S CLINTON ST,None,CHICAGO IL,259024,26,2000-01-02 11:30:00+00:00,24.0,17,None,,
26,NaN,,None,,259025,27,2000-01-02 15:12:00+00:00,25.0,19,None,,
27,4300.0,N RICHMOND,None,CHICAGO IL,259026,28,2000-01-02 12:20:00+00:00,24.0,17,None,,
28,2024.0,E 71 ST,None,CHICAGO IL,259028,29,2000-01-02 15:53:00+00:00,26.0,03,None,,
29,6147.0,N SHERIDAN,None,CHICAGO IL,259030,30,2000-01-01 06:00:00+00:00,27.0,17,None,,
...,...,...,...,...,...,...,...,...,...,...,...,...
109309,NaN,W CONGRESS PKWY,None,CHICAGO IL 60605,1082226,109309,2012-07-12 09:00:00+00:00,1677.0,17,None,,
109310,5109.0,W LEXINGTON ST,None,CHICAGO IL 60644,1082271,109310,2012-06-01 00:00:00+00:00,NaN,17,None,,
109311,NaN,W WASHINGTON ST,None,CHICAGO IL 60602,1082300,109311,2015-11-30 12:01:00+00:00,NaN,17,None,,
109312,5926.0,S RACINE AVE,None,CHICAGO IL,1082322,109312,2015-07-20 00:26:00+00:00,NaN,17,None,,
109313,NaN,,None,,1082323,109313,2016-05-07 00:00:00+00:00,910.0,19,None,,
109314,NaN,,None,,1082346,109314,2015-12-31 23:00:00+00:00,NaN,19,None,,
109315,NaN,,None,,1082354,109315,2016-03-01 12:00:00+00:00,NaN,19,None,,
109316,6351.0,S ARTESIAN AVE,None,CHICAGO IL 60629,1082360,109316,2014-10-20 09:44:00+00:00,NaN,17,None,,
109317,4002.0,W MAYPOLE AVE,None,CHICAGO IL 60624,1082361,109317,2014-04-09 17:25:00+00:00,NaN,17,None,,
109318,4320.0,W 30TH ST,None,CHICAGO IL,1082402,109318,2014-07-04 21:40:00+00:00,2222.0,17,None,,
109319,NaN,,None,,1082409,109319,2015-03-13 12:33:00+00:00,NaN,19,None,,
109320,458.0,W 32ND ST,None,CHICAGO IL 60616,1082434,109320,2014-10-08 16:31:00+00:00,NaN,17,None,,
109321,422.0,E 87TH ST,None,CHICAGO IL 60619,1082444,109321,2014-07-21 12:45:00+00:00,NaN,03,None,,
109322,1440.0,N CICERO AVE,None,CHICAGO IL,1082467,109322,2015-04-23 19:11:00+00:00,NaN,17,None,,
109323,3510.0,S MICHIGAN AVE,None,CHICAGO IL 60653,1082491,109323,2016-06-16 00:00:00+00:00,NaN,04,None,,
109324,4907.0,N KENMORE AVE,None,CHICAGO IL 60640,1082499,109324,2015-07-10 12:30:00+00:00,NaN,17,None,,
109325,2758.0,W GLADYS AVE,None,CHICAGO IL 60612,1082501,109325,2016-03-02 14:00:00+00:00,NaN,17,None,,
109326,NaN,,None,,1082535,109327,2015-11-19 21:15:00+00:00,NaN,19,None,,
109327,527.0,E BROWNING AVE,None,CHICAGO IL,1082599,109328,2014-07-11 12:50:00+00:00,NaN,17,None,,
109328,NaN,,None,CHICAGO IL,1082600,109329,2016-01-03 00:01:00+00:00,NaN,XX,None,,
109329,7530.0,S STONY ISLAND AVE,None,CHICAGO IL 60619,1082607,109330,2016-04-08 19:02:00+00:00,NaN,03,None,,
109330,206.0,N LEAMINGTON AVE,None,CHICAGO IL 60644,1082610,109331,2015-10-01 17:00:00+00:00,NaN,17,None,,
109331,1412.0,S BLUE ISLAND AVE,None,CHICAGO IL 60608,1082657,109332,2016-02-13 04:25:00+00:00,NaN,04,None,,
109332,NaN,,None,,1082661,109333,2015-08-26 23:52:00+00:00,NaN,19,None,,
109333,5101.0,S WENTWORTH AVE,None,CHICAGO IL 60609,1082664,109334,2016-05-18 11:00:00+00:00,NaN,04,None,,
109334,1302.0,W ADDISON ST,None,CHICAGO IL 60613,1082695,109335,2016-03-02 10:35:00+00:00,NaN,17,None,,
109335,NaN,,None,CHICAGO IL,10639955,109336,2013-08-01 00:00:00+00:00,NaN,XX,None,,
109336,3510.0,S MICHIGAN AVE,None,CHICAGO IL,10773250,109337,2015-01-06 14:24:00+00:00,NaN,04,None,,
109337,919.0,N HAMLIN AVE,None,CHICAGO IL,10819810,109338,2016-03-17 06:05:00+00:00,NaN,17,None,,
109338,1718.0,S STATE ST,None,CHICAGO IL 60616,10851356,109339,2012-01-11 00:00:00+00:00,NaN,04,None,,

*Note: Geo data (area/line_area/beat/point) will be imported whenever the data is avaiable*