In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from tqdm import tqdm, tqdm_notebook, tqdm_pandas

from data_importer.base.cleaner import DataCleaner, strip, titleize

## Read Officer Profiles data

In [2]:
df = pd.read_csv('../../cleaned_data/profiles/officer-profiles.csv')
df = df.loc[:, ['UID', 'Middle.Initial', 'Gender', 'Appointed.Date', 'Race', 'Birth.Year', 'Current.Age', 'Last.Name', 'Current.Star', 'First.Name', 'Suffix.Name', 'Star1', 'Star2', 'Star3', 'Star4', 'Star5', 'Star6', 'Star7', 'Star8', 'Star9', 'Star10']]
df = df.rename(columns={
    'UID': 'uid',
    'Middle.Initial': 'middle_initial', 
    'Gender': 'gender', 
    'Appointed.Date': 'appointed_date', 
    'Race': 'race', 
    'Birth.Year': 'birth_year', 
    'Current.Age': 'age', 
    'Last.Name': 'last_name', 
    'Current.Star': 'current_star', 
    'First.Name': 'first_name', 
    'Suffix.Name': 'suffix_name', 
    'Star1': 'star1', 
    'Star2': 'star2', 
    'Star3': 'star3', 
    'Star4': 'star4', 
    'Star5': 'star5', 
    'Star6': 'star6', 
    'Star7': 'star7', 
    'Star8': 'star8', 
    'Star9': 'star9', 
    'Star10': 'star10'
})

### Build officer badge number set

In [3]:
tqdm.pandas(tqdm_notebook(), desc='Build badgenumber_set')

df['badgenumber_set'] = df.progress_apply(lambda x: [star for star in [
    x['star1'], x['star2'], x['star3'], x['star4'], x['star5'], 
    x['star6'], x['star7'], x['star8'], x['star9'], x['star10'],
] if star != -999 and not np.isnan(star)], axis=1)

for x in ['star1', 'star2', 'star3', 'star4', 'star5', 'star6', 'star7', 'star8', 'star9', 'star10']:
    del(df[x])

Widget Javascript not detected.  It may not be installed or enabled properly.

Build badgenumber_set: 32140it [00:02, 12954.94it/s]

### Clean data

In [4]:
cleaner = DataCleaner(
    schema={
        'first_name': [strip, titleize],
        'last_name': [strip, titleize],
        'gender': [strip, titleize],
        'race': [strip, titleize],
    }
)
cleaner.perform(df)

100%|██████████| 4/4 [00:03<00:00,  1.12it/s]

,uid,middle_initial,gender,appointed_date,race,birth_year,age,last_name,current_star,first_name,suffix_name,badgenumber_set
0,1,M,Male,2005-09-26,White,1971.0,44.0,Aaron,1424.0,Jeffery,NaN,[13001.0]
1,2,NaN,Female,2005-09-26,Hispanic,1980.0,35.0,Aaron,13705.0,Karina,NaN,"[17545.0, 13705.0]"
2,3,P,Male,1970-06-15,White,1942.0,74.0,Abate,NaN,Daniel,NaN,"[14535.0, 3023.0, 2628.0]"
3,4,G,Male,1994-12-05,White,1968.0,47.0,Abbate,-999.0,Anthony,NaN,[18601.0]
4,5,G,Male,1969-01-06,White,1942.0,73.0,Abbate,-999.0,Carmel,NaN,[20484.0]
5,6,S,Male,1954-10-16,White,1930.0,85.0,Abbate,-999.0,Carmen,NaN,[]
6,7,M,Male,1995-12-04,White,1972.0,44.0,Abbate,19596.0,Terry,NaN,[19596.0]
7,8,B,Male,1990-03-26,Black,1945.0,70.0,Abbey,-999.0,Leon,NaN,[6799.0]
8,9,NaN,Male,1949-03-16,Black,1923.0,93.0,Abbey,NaN,Leon,NaN,[]
9,10,J,Male,1976-04-26,Black,1952.0,63.0,Abbey,NaN,Michael,NaN,[16511.0]
10,11,A,Male,1970-12-14,White,1949.0,67.0,Abbott,NaN,Andrew,NaN,"[20921.0, 20278.0]"
11,12,E,Male,1982-11-29,White,1953.0,63.0,Abbott,-999.0,Dale,NaN,[11969.0]
12,13,L,Female,1987-12-07,White,1958.0,57.0,Abbott,-999.0,Elizabeth,NaN,[4670.0]
13,14,F,Female,1986-07-14,White,1965.0,50.0,Abbott,NaN,Laura,NaN,"[21167.0, 14399.0]"
14,15,F,Male,2012-11-30,White,1983.0,32.0,Abdallah,17673.0,Zaid,NaN,[17673.0]
15,16,NaN,Male,2006-12-18,White,1978.0,37.0,Abdelhadi,7147.0,Abdalmahd,NaN,[7147.0]
16,17,NaN,Male,2008-04-28,Api,1984.0,31.0,Abdelmajeid,14008.0,Aziz,NaN,"[14048.0, 14008.0]"
17,18,R,Male,1989-12-26,Black,1958.0,57.0,Abdullah,-999.0,Moulay,NaN,[4527.0]
18,19,V,Male,1999-10-25,Api,1976.0,40.0,Abejero,14237.0,Jason,NaN,[14237.0]
19,20,E,Male,1999-12-13,Api,1949.0,66.0,Abejero,-999.0,Restituto,NaN,[5959.0]
20,21,L,Male,1970-06-15,White,1949.0,67.0,Abels,-999.0,Kenneth,NaN,"[14171.0, 1747.0]"
21,22,M,Female,1985-09-09,White,1957.0,58.0,Abelson,NaN,Deborah,NaN,"[17436.0, 17184.0, 16375.0, 12950.0]"
22,23,B,Male,1964-06-08,Black,1937.0,78.0,Abington,NaN,Eugene,NaN,[3473.0]
23,24,R,Male,2015-06-29,White,1990.0,25.0,Abney,11360.0,Patrick,NaN,[11360.0]
24,25,NaN,Male,1947-12-22,White,1925.0,91.0,Abraham,-999.0,John,NaN,[]
25,26,H,Male,1950-04-03,White,1922.0,93.0,Abraham,NaN,Jos,NaN,[11110.0]
26,27,A,Female,2014-04-28,Api,1986.0,29.0,Abraham,16579.0,Nancy,NaN,[16579.0]
27,28,A,Male,2016-06-27,Black,1988.0,NaN,Abram,9027.0,Anthony,NaN,[]
28,29,W,Male,1976-04-26,Black,1939.0,76.0,Abram,NaN,Paul,NaN,[1109.0]
29,30,L,Male,1986-06-16,Black,1963.0,52.0,Abrams,-999.0,Henry,NaN,[11485.0]
...,...,...,...,...,...,...,...,...,...,...,...,...
32110,32111,NaN,Male,1998-10-01,NaN,1942.0,NaN,Rake,-999.0,Kevin,NaN,[]
32111,32112,NaN,Male,2017-03-16,NaN,1979.0,NaN,Ramos,-999.0,Esteban,NaN,[]
32112,32113,NaN,Male,2016-12-12,NaN,1981.0,NaN,Regalado,15071.0,Anthony,NaN,[]
32113,32114,NaN,Male,2016-10-31,NaN,1990.0,NaN,Roberson,16993.0,Divale,NaN,[]
32114,32115,NaN,Male,2004-01-26,NaN,1966.0,NaN,Roberts,-999.0,Sean,NaN,[]
32115,32116,NaN,Female,2010-04-16,NaN,1985.0,NaN,Rodriguez,-999.0,Jacqueline,NaN,[]
32116,32117,NaN,Male,2012-12-14,NaN,1986.0,NaN,Rusin,-999.0,Christopher,NaN,[]
32117,32118,NaN,Male,2016-10-31,NaN,1990.0,NaN,Saleh,18236.0,Adnan,NaN,[]
32118,32119,NaN,Male,2016-10-31,NaN,1983.0,NaN,Sas,19212.0,Michael,NaN,[]
32119,32120,NaN,Male,1990-07-10,NaN,1966.0,NaN,Sebok,-999.0,David,NaN,[]
32120,32121,NaN,Male,2007-11-01,NaN,1988.0,NaN,Shiu,-999.0,Christian,NaN,[]
32121,32122,NaN,Male,2016-12-12,NaN,1992.0,NaN,Slater,17238.0,Tyrell,NaN,[]
32122,32123,NaN,Male,2012-07-02,NaN,1980.0,NaN,Smith,-999.0,Seneca,NaN,[]
32123,32124,NaN,Male,2017-03-16,NaN,1977.0,NaN,Sourn,-999.0,Nivath,NaN,[]
32124,32125,NaN,Male,2016-10-31,NaN,1992.0,NaN,Spizzirri,18265.0,Michaelr,NaN,[]
32125,32126,NaN,Male,2006-04-28,NaN,1987.0,NaN,Stewart,-999.0,James,NaN,[]
32126,32127,NaN,Male,2007-11-01,NaN,1986.0,NaN,Taylor,-999.0,Kevin,NaN,[]
32127,32128,NaN,Female,2007-06-18,NaN,1990.0,NaN,Vega,-999.0,Lynnette,NaN,[]
32128,32129,NaN,Male,2016-12-12,NaN,1980.0,NaN,Venegas,17374.0,Joel,NaN,[]
32129,32130,NaN,Male,2004-09-27,NaN,1972.0,NaN,Vonreichbauer,-999.0,Jason,NaN,[]
32130,32131,NaN,Male,2016-10-31,NaN,1990.0,NaN,Wantroba,19416.0,Kyle,NaN,[]
32131,32132,NaN,Female,2005-09-16,NaN,1987.0,NaN,Watson,-999.0,Mercedes,NaN,[]
32132,32133,NaN,Female,2010-04-16,NaN,1981.0,NaN,Weber,-999.0,Maureen,NaN,[]
32133,32134,NaN,Male,2007-11-01,NaN,1987.0,NaN,White,-999.0,Dwight,NaN,[]
32134,32135,NaN,Female,2006-04-28,NaN,1986.0,NaN,White,-999.0,Quinretta,NaN,[]
32135,32136,NaN,Male,2016-12-12,NaN,1991.0,NaN,Wilczek,17490.0,Grzegorz,NaN,[]
32136,32137,NaN,Male,2008-04-07,NaN,1977.0,NaN,Wilson,-999.0,Michael,NaN,[]
32137,32138,NaN,Male,2002-01-07,NaN,1978.0,NaN,Witnik,-999.0,Steven,NaN,[]
32138,32139,NaN,Male,2013-11-16,NaN,1995.0,NaN,Wright,-999.0,Nicholas,NaN,[]
32139,32140,NaN,Female,2016-08-29,NaN,1988.0,NaN,Zuk,8527.0,Edyta,NaN,[]

## Read officers from existing database

In [5]:
df_officers = DataFrame.from_records(Officer.objects.all().values())
df_officers

,active,appointed_date,birth_year,first_name,gender,id,last_name,race,rank,tags
0,True,2005-09-26,1971.0,Jeffery,M,1,Aaron,White,Police Officer,[]
1,True,2005-09-26,1980.0,Karina,F,2,Aaron,White Hispanic,Police Officer,[]
2,False,1970-06-15,1942.0,Daniel,M,3,Abate,White,Police Officer,[]
3,False,1994-12-05,1968.0,Anthony,M,4,Abbate,White,Police Officer,[]
4,False,1969-01-06,1942.0,Carmel,M,5,Abbate,White,Police Officer As Detective,[]
5,False,1954-10-16,1930.0,Carmen,M,6,Abbate,White,Sergeant Of Police,[]
6,True,1995-12-04,1972.0,Terry,M,7,Abbate,White,Police Officer,[]
7,False,1949-03-16,1923.0,Leon,M,8,Abbey,Black,Lieutenant Of Police,[]
8,False,1990-03-26,1945.0,Leon,M,9,Abbey,Black,Police Officer,[]
9,False,1976-04-26,1952.0,Michael,M,10,Abbey,Black,Police Officer,[]
10,False,1970-12-14,1949.0,Andrew,M,11,Abbott,White,Police Officer As Detective,[]
11,False,1982-11-29,1953.0,Dale,M,12,Abbott,White,Police Officer,[]
12,False,1987-12-07,1958.0,Elizabeth,F,13,Abbott,White,Police Officer,[]
13,False,1986-07-14,1965.0,Laura,F,14,Abbott,White,Police Officer As Detective,[]
14,True,2012-11-30,1983.0,Zaid,M,15,Abdallah,White,Police Officer,[]
15,True,2006-12-18,1978.0,Abdalmahd,M,16,Abdelhadi,White,Police Officer,[]
16,True,2008-04-28,1984.0,Aziz,M,17,Abdelmajeid,Asian/Pacific Islander,Police Officer,[]
17,False,1989-12-26,1958.0,Moulay,M,18,Abdullah,Black,Police Officer,[]
18,True,1999-10-25,1976.0,Jason,M,19,Abejero,Asian/Pacific Islander,Police Officer,[]
19,False,1999-12-13,1949.0,Restituto,M,20,Abejero,Asian/Pacific Islander,Police Officer,[]
20,False,1970-06-15,1949.0,Kenneth,M,21,Abels,White,Sergeant Of Police,[]
21,False,1985-09-09,1957.0,Deborah,F,22,Abelson,White,Police Officer,[]
22,False,1964-06-08,1937.0,Eugene,M,23,Abington,Black,Police Officer As Detective,[]
23,True,2015-06-29,1990.0,Patrick,M,24,Abney,White,Police Officer,[]
24,False,1950-04-03,1922.0,Jos,M,26,Abraham,White,Unknown,[]
25,True,2014-04-28,1986.0,Nancy,F,27,Abraham,Asian/Pacific Islander,Police Officer,[]
26,False,1976-04-26,1939.0,Paul,M,28,Abram,Black,Sergeant Of Police,[]
27,True,1986-06-16,1963.0,Henry,M,29,Abrams,Black,Police Officer,[]
28,False,1977-11-01,1950.0,Alexander,M,31,Abrasevic,White,Police Officer,[]
29,False,1973-10-22,1946.0,Ricardo,M,32,Abreu,White Hispanic,Police Officer As Detective,[]
...,...,...,...,...,...,...,...,...,...,...
31680,False,1966-06-01,1945.0,John,M,31216,Wright,White,Police Officer,[Officers Named John]
31681,False,1968-03-25,1947.0,John,M,31217,Wright,White,Unknown,[Officers Named John]
31682,True,2002-07-29,1969.0,John,M,31232,Wrigley,White,Police Officer,[Officers Named John]
31683,True,1998-10-13,1967.0,John,M,31272,Xiques,White Hispanic,Sergeant Of Police,[Officers Named John]
31684,False,1980-01-28,1951.0,John,M,31284,Yamich Jr.,White,Unknown,[Officers Named John]
31685,False,1973-06-04,1945.0,John,M,31291,Yanez,White Hispanic,Police Officer,[Officers Named John]
31686,True,1992-12-07,1967.0,John,M,31325,Yniguez,White Hispanic,Police Officer As Detective,[Officers Named John]
31687,False,1970-01-19,1945.0,John,M,31326,Yniguez,White Hispanic,Police Officer,[Officers Named John]
31688,False,1956-09-16,1931.0,John,M,31330,Yohanan,White,Police Officer,[Officers Named John]
31689,False,1962-03-19,1937.0,John,M,31333,Yonkers,White,Police Officer,[Officers Named John]
31690,False,1955-02-01,1929.0,John,M,31334,York,White,Police Officer,[Officers Named John]
31691,False,1964-06-15,1942.0,John,M,31389,Yucaitis,White,Police Officer As Detective,[Officers Named John]
31692,False,1968-04-29,1943.0,John,M,31421,Zago,White,Police Officer,[Officers Named John]
31693,False,1972-11-20,1947.0,John,M,31430,Zajac,White,Police Officer,[Officers Named John]
31694,False,1986-02-03,1957.0,John,M,31438,Zalatoris,White,Police Officer As Detective,[Officers Named John]
31695,True,1994-10-03,1964.0,John,M,31446,Zalewski,White,Police Officer As Detective,[Officers Named John]
31696,False,1955-11-16,1932.0,John,M,31496,Zarlenga,White,Police Officer,[Officers Named John]
31697,False,1976-10-18,1951.0,John,M,31578,Zeszutko,White,Police Officer As Detective,[Officers Named John]
31698,False,1953-04-01,1926.0,John,M,31587,Zickus,White,Police Officer As Detective,[Officers Named John]
31699,True,1991-12-02,1970.0,John,M,31598,Zielinski,White,Police Officer,[Officers Named John]
31700,False,1956-09-01,1925.0,John,M,31611,Ziemblicki,White,Police Officer,[Officers Named John]
31701,False,1955-08-22,1927.0,John,M,31612,Ziemke,White,Police Officer,[Officers Named John]
31702,True,2002-12-02,1980.0,John,M,31619,Zinchuk,White,Police Officer,[Officers Named John]
31703,False,1999-05-10,1970.0,John,M,31621,Zingarelli,White,Police Officer / Field Training Officer,[Officers Named John]
31704,False,1958-02-16,1934.0,John,M,31629,Zitek,White,Sergeant Of Police,[Officers Named John]
31705,False,1947-10-09,1927.0,John,M,31635,Zmich,White,Police Officer,[Officers Named John]
31706,False,1973-06-04,1951.0,John,M,31637,Zoch,White,Police Officer,[Officers Named John]
31707,True,1991-05-22,1964.0,John,M,31652,Zook,White,Police Officer,[Officers Named John]
31708,False,1982-03-01,1953.0,John,M,31655,Zotto,White,Sergeant Of Police,[Officers Named John]
31709,True,2003-11-24,1976.0,John,M,31674,Zumbrock,White,Police Officer,[Officers Named John]

### Change format of officer gender to M/F for later comparison

In [6]:
df['gender'] = df['gender'].apply(lambda x: 'M' if x == 'Male' else 'F' if x == 'Female' else 'Unknown')

## Check if is there any officer duplicated in officer profile data

In [7]:
df_filtered = df.loc[:, ['first_name', 'last_name', 'gender', 'race', 'appointed_date', 'birth_year']]

In [8]:
df_filtered[df_filtered.duplicated()]

      first_name last_name gender   race appointed_date  birth_year
641       Robert  Anderson      M  White     1970-01-19      1948.0
1265       James   Bansley      M  White     2009-12-16      1983.0
1411      Robert   Barrett      M  White     1950-06-03      1926.0
20964    Timothy    Obrien      M  White     1995-01-03      1967.0

** We display the list of duplicates **

In [9]:
df[df_filtered.duplicated(keep=False)]

,uid,middle_initial,gender,appointed_date,race,birth_year,age,last_name,current_star,first_name,suffix_name,badgenumber_set
640,641,J,M,1970-01-19,White,1948.0,68.0,Anderson,NaN,Robert,NaN,"[14297.0, 5419.0]"
641,642,M,M,1970-01-19,White,1948.0,67.0,Anderson,NaN,Robert,NaN,[8024.0]
1264,1265,A,M,2009-12-16,White,1983.0,32.0,Bansley,10927.0,James,NaN,[10927.0]
1265,1266,H,M,2009-12-16,White,1983.0,33.0,Bansley,8791.0,James,NaN,[8791.0]
1410,1411,E,M,1950-06-03,White,1926.0,90.0,Barrett,NaN,Robert,NaN,[2010.0]
1411,1412,J,M,1950-06-03,White,1926.0,89.0,Barrett,NaN,Robert,NaN,[]
20953,20954,P,M,1995-01-03,White,1967.0,48.0,Obrien,20899.0,Timothy,NaN,"[20899.0, 8893.0]"
20964,20965,J,M,1995-01-03,White,1967.0,48.0,Obrien,21797.0,Timothy,NaN,"[21797.0, 20380.0, 20034.0, 10532.0, 2946.0]"

** Although there are some officers have same `first_name`, `last_name`, `gender`, `race`, `appointed_date` and `birth_year`, but their `middle_initial` and `badgenumber_set` are different so we consider them as different officers. So at this time, we think that Roman has worked on and resolved the [duplicated officers issue](https://3.basecamp.com/3076603/buckets/2271459/messages/587887235). **

## Check if married officer has been resolved

** Load married officer list from file **

In [10]:
df_married_officers = pd.read_csv('../../original_data/married_officers.csv')
df_married_officers

,appointed_date,birth_year,gender,race,rank,star,unit,first_name,last_name,result
0,1986-09-08,1958,F,White,Sergeant Of Police,NaN,16,Terese,Flynn,Terese Fanning (Married)
1,1993-11-22,1965,F,Spanish/Hispanic/Latino,Police Officer,15449.0,22,Georgina,Cummings,Georgina Chavez (Married)
2,1990-03-26,1962,F,White,Police Officer,7156.0,7,Anna,Marshall,Anna Fox (Married)
3,1999-05-10,1972,F,Black,Police Officer,10550.0,610,Katina,Ivory,Katina Crump (Married)
4,2000-08-14,1977,F,White,Police Officer,7379.0,4,Amy,Carey,Amy Walsh (Married)
5,2001-03-26,1974,F,Spanish/Hispanic/Latino,Police Officer,4159.0,7,Myrian,Bugarin,Myrian Swiatkowski (Married)
6,2002-12-02,1970,F,Spanish/Hispanic/Latino,Police Officer,8346.0,12,Rosa,Rivera,Rosa Vasquez (Married)
7,2002-09-30,1973,F,Black,Police Officer,5855.0,189,Sherry,Odunsi-Crawl,Sherry Odunsi (Married)
8,2004-10-25,1973,F,Spanish/Hispanic/Latino,Police Officer,5512.0,8,Gracibel,Hansen,Gracibel Gutierrez (Married)
9,2005-01-03,1965,F,Black,Police Officer,8266.0,3,Jlynn,Pierce,Jlynn Wallace (Married)
10,2005-12-05,1971,F,Spanish/Hispanic/Latino,Police Officer,14342.0,12,Angelica,Arroyo,Angelica Viteri (Married)
11,2005-09-26,1975,F,Spanish/Hispanic/Latino,Police Officer,11676.0,9,Evelyn,Grube,Evelyn Roldan (Married)
12,2006-09-25,1983,F,White,Police Officer,15026.0,8,Sara,Mc Namara,Sara Fazy (Married)
13,2010-04-16,1982,F,White Hispanic,Police Officer,7691.0,8,Gloria,Vera,Gloria Olivares (Married)
14,2011-10-17,1986,F,Black,Police Officer,4997.0,1,Jada,Bailey,Jada Marshall (Married)
15,2013-11-25,1986,F,White,Police Officer,17655.0,4,Elizabeth,Vaci,Elizabeth Brown (Married)

** Now, we list out the corresponding officer profiles **

In [11]:
tqdm.pandas(tqdm_notebook(), desc='Find corresponding officer profiles')

df[
    df.progress_apply(
        lambda x: not df_married_officers[
            (df_married_officers['first_name'] == x['first_name']) &
            (df_married_officers['appointed_date'] == str(x['appointed_date'])) &
            (df_married_officers['gender'] == str(x['gender'])) &
            (df_married_officers['birth_year'] == x['birth_year'])
        ].empty,
        axis=1
    )
].loc[:, ['first_name', 'last_name', 'gender', 'race', 'appointed_date', 'birth_year']]

Widget Javascript not detected.  It may not be installed or enabled properly.

Find corresponding officer profiles: 52it [00:00, 516.84it/s]

Find corresponding officer profiles: 32140it [00:48, 658.14it/s]

      first_name  last_name gender      race appointed_date  birth_year
873     Angelica     Arroyo      F  Hispanic     2005-12-05      1971.0
1083        Jada     Bailey      F     Black     2011-10-17      1986.0
3249      Myrian    Bugarin      F  Hispanic     2001-03-26      1974.0
3890         Amy      Carey      F     White     2000-08-14      1977.0
4463    Georgina     Chavez      F  Hispanic     1993-11-22      1965.0
8896      Terese    Fanning      F     White     1986-09-08      1958.0
10953     Evelyn      Grube      F  Hispanic     2005-09-26      1975.0
11128   Gracibel  Gutierrez      F  Hispanic     2004-10-25      1973.0
13095     Katina      Crump      F     Black     1999-05-10      1972.0
17552       Anna        Fox      F     White     1990-03-26      1962.0
18591       Sara       Fazy      F     White     2006-09-25      1983.0
21357     Sherry     Odunsi      F     Black     2002-09-30      1973.0
22706      Jlynn     Pierce      F     Black     2005-01-03      1965.0
24286       Rosa     Rivera      F  Hispanic     2002-12-02      1970.0
29409  Elizabeth      Brown      F     White     2013-11-25      1986.0
29731     Gloria   Olivares      F  Hispanic     2010-04-16      1982.0

** It turns out Roman has worked on the [married officer issue](https://3.basecamp.com/3076603/buckets/2271459/messages/594401405) already. Perfect! **

## Check if there is any officer in our database not exist in officer profile data

In [12]:
def get_similarity(officer, candidate):
    result = 0
    for key in ['first_name', 'last_name', 'birth_year', 'appointed_date', 'gender']:
        if str(officer[key]) == str(candidate[key]):
            result += 1
            
    return result

In [13]:
tqdm.pandas(tqdm_notebook(), desc='Computing similarity')

df_officers_similarity = df_officers.assign(
    similarity=df_officers.progress_apply(
        lambda x: max(df[
                (df['first_name']==x['first_name']) & 
                (
                    (df['appointed_date']==str(x['appointed_date'])) | 
                    (df['appointed_date'].isnull())
                )
            ].apply(lambda y: get_similarity(x, y), axis=1)
        ),
        axis=1
    )
)

Widget Javascript not detected.  It may not be installed or enabled properly.

Computing similarity: 31710it [05:19, 92.15it/s]

In [14]:
set(df_officers_similarity['similarity'])

{3, 4, 5, 'uid'}

In [15]:
df_officers_similarity[df_officers_similarity['similarity']=='uid']

,active,appointed_date,birth_year,first_name,gender,id,last_name,race,rank,tags,similarity
201,False,1972-07-16,1936.0,C.,M,209,Ahern,White,Police Officer,[],uid
365,False,1991-12-16,1965.0,La Sharn,M,381,Allen,Black,Police Officer,[],uid
409,True,2002-03-25,1971.0,Sidronio,M,425,Almazan Jr.,White Hispanic,Police Officer,[],uid
766,False,1985-03-04,1953.0,Jo Ann,F,792,Arduini,White,Police Officer,[],uid
809,False,1986-10-13,1948.0,L.,M,836,Arnold,Black,Police Officer,[],uid
890,False,1955-05-01,1924.0,F.,M,918,Aubin,White,Unknown,[],uid
947,True,2015-06-29,1989.0,Anna Marie,F,976,Avino,White,Police Officer,[],uid
1503,True,2016-02-29,1977.0,Ian Lester,M,1559,Bayot,Asian/Pacific Islander,Police Officer,[],uid
1647,False,1966-07-11,1938.0,O.,M,1711,Bellini,White,Unknown,[],uid
1650,False,2005-08-29,1979.0,Bal Do,M,1714,Bello,White Hispanic,Police Officer,[],uid
1757,False,1968-10-14,1947.0,L.,M,1825,Bergmann Jr.,White,Unknown,[],uid
1892,False,1947-12-11,1920.0,E.,M,1967,Bielawski,White,Police Officer,[],uid
2027,False,1955-02-01,1929.0,L.,M,2110,Blakely,Black,Unknown,[],uid
2253,False,1980-02-11,1954.0,Mary Lou,F,2343,Bonnema,White,Sergeant Of Police,[],uid
2346,False,1986-08-11,1946.0,Jo Anne,F,2439,Botwinski,White,Police Officer As Detective,[],uid
2465,False,1969-02-17,1947.0,L.,M,2564,Bradi,White,Unknown,[],uid
2638,False,1962-02-26,1935.0,H-George,M,2741,Brenzing,White,Police Officer (Per Arbitration Award),[],uid
2719,False,1950-06-03,1926.0,A.,M,2829,Broderson,White,Unknown,[],uid
2776,False,1967-12-18,1945.0,B.,M,2889,Broughton,Black,Unknown,[],uid
3003,True,2007-08-27,1982.0,Malcom,M,3123,Bryant,Black,Police Officer,[],uid
3028,True,1994-08-01,1969.0,Ne Cole,F,3149,Bryson,Black,Police Officer,[],uid
3406,False,1956-09-16,1924.0,M.,M,3555,Cafferata,White,Unknown,[],uid
3446,False,1970-12-14,1946.0,D.,M,3598,Calandrino,White,Unknown,[],uid
3591,False,1970-06-15,1935.0,D.,M,3751,Canada,White,Unknown,[],uid
3826,False,1970-03-02,1948.0,D.,M,4001,Carroll Jr.,White,Unknown,[],uid
3846,False,1961-01-30,1932.0,De Armand,M,4021,Carter,Black,Police Officer,[],uid
3909,False,1975-05-16,1948.0,C.,M,4084,Casey,White,Unknown,[],uid
3934,False,1952-05-01,1926.0,L.,M,4110,Casey Jr.,White,Unknown,[],uid
4005,False,1966-06-13,1946.0,J.,M,4185,Catalano Jr.,White,Unknown,[],uid
4024,True,1999-11-29,1966.0,Juan A. G.,M,4205,Cauinian,Asian/Pacific Islander,Police Officer,[],uid
...,...,...,...,...,...,...,...,...,...,...,...
24718,False,1947-12-09,1916.0,P.,M,26039,Shannon,White,Unknown,[],uid
25201,False,1946-03-11,1919.0,H.,M,26545,Slaughter,Black,Unknown,[],uid
25335,False,1968-03-04,1945.0,George J.,M,26683,Smith,White,Police Officer,[],uid
25343,False,1963-10-01,1927.0,J.,M,26691,Smith,Black,Police Officer,[],uid
25514,True,2000-10-10,1973.0,Zbig Iew,M,26871,Sniezek,White,Police Officer As Detective,[],uid
25878,False,1982-11-29,1958.0,Mary Ann,F,27251,Stanek,White,Lieutenant Of Police,[],uid
25889,True,1985-07-01,1959.0,Jo Ann,F,27262,Staniec,White,Police Officer,[],uid
25992,False,1971-07-26,1950.0,T.,M,27372,Stefanski,White,Unknown,[],uid
26089,False,1992-12-07,1949.0,La Velle,F,27473,Stewart,Black,Police Officer,[],uid
26216,False,None,1960.0,Sue Ellen,F,27604,Strapp,White,Unknown,[],uid
26305,False,1962-02-26,1940.0,R.,M,27693,Stulgaitis,White,Unknown,[],uid
26513,False,1973-10-22,1947.0,G.,M,27926,Sweeney Jr.,White,Unknown,[],uid
26589,False,1952-09-29,1917.0,C.,M,28004,Szpicki,White,Unknown,[],uid
26841,False,1968-05-27,1938.0,J.,M,28267,Terracina,White,Unknown,[],uid
26933,False,1968-01-22,1939.0,J. T.,M,28369,Thomas,Black,Police Officer Assigned Evidence Technician,[],uid
27199,False,1982-08-30,1953.0,Lou Berda,F,28652,Topps-Watson,Black,Police Officer,[],uid
27266,False,1967-10-16,1938.0,P.,M,28719,Tortorice,White,Unknown,[],uid
27524,False,1965-10-25,1939.0,M.,M,28991,Turner,Black,Unknown,[],uid
27987,False,1970-11-16,1947.0,C.,M,29474,Verre,White Hispanic,Lieutenant Of Police,[],uid
28000,True,2013-04-01,1975.0,Abdul-Aziz,M,29489,Vhora,Asian/Pacific Islander,Police Officer,[],uid
28749,False,1967-10-16,1947.0,T.,M,30268,Weller,White,Unknown,[],uid
28904,True,1995-10-23,1960.0,La Ronda,F,30432,White,Black,Police Officer,[],uid
29087,False,1991-04-24,1940.0,D. Ethel,F,30619,Williams,Black,Police Officer,[],uid
29218,True,1996-12-02,1960.0,Silk Linda,F,30756,Williams,Black,Police Officer,[],uid
29428,False,1967-10-23,1937.0,R.,M,30972,Wisniewski,White,Unknown,[],uid
29481,False,1966-11-28,1946.0,W.,M,31026,Wojciechowski,White,Sergeant Of Police,[],uid
29540,True,2000-12-18,1964.0,J.,M,31086,Wombles,White,Police Officer,[],uid
29790,True,1998-06-29,1973.0,De Vonna,F,31353,Young,Black,Police Officer,[],uid
30059,False,1975-05-16,1948.0,Vicki Ann,F,31638,Zoch,White,Lieutenant Of Police,[],uid
31606,False,1952-09-29,1925.0,John M.,M,29207,Valient,White,Police Officer,[Officers Named John],uid

In [16]:
df_officers_similarity[df_officers_similarity['similarity']==3]

,active,appointed_date,birth_year,first_name,gender,id,last_name,race,rank,tags,similarity
16639,False,1985-03-04,1960.0,James,M,17505,Martin IV,Black,Police Officer,[],3
23629,False,None,NaN,Kelly,F,24878,Ruppel,White,Sergeant Of Police,[],3
30650,False,2003-01-27,1976.0,John,M,10722,Gricus,White,Police Officer,[Officers Named John],3

** After manually reviewing, we discover that, for the officers who have first_name (or last_name) which contains more than one word, the split character in the value has been removed to make the value becomes one-word one. For example: **
 - Al Amin -> Alamin
 - Lou Berda -> Louberda
 - Topps-Watson -> Toppswatson
 
** There're thousands of names be changed like that. We don't think these changes are reasonable. **