In [1]:
import pandas as pd
from tqdm import tqdm, tqdm_notebook, tqdm_pandas

from data.models import Officer
from data_importer.base.storage import AzureStorage
from data_importer.base.cleaner import DataCleaner, strip, titleize
from data_importer.base.utils.import_officer_history_helpers import import_officer_history

In [2]:
storage = AzureStorage(account_name='cpdbv2data', 
                       account_key='<add_your_key_here>',
                       share='cleaned-data')

import_db = 'import'

## Read Unit History Data

In [3]:
df_all_sworn_units = pd.read_csv(storage.path_for('unit-history/all-sworn-units.csv'))
df_unit_history = pd.read_csv(storage.path_for('unit-history/unit-history.csv'))

In [4]:
df_all_sworn_units = df_all_sworn_units.loc[:, ['UID', 'Unit', 'Start.Date', 'End.Date']]
df_unit_history = df_unit_history.loc[:, ['UID', 'Unit', 'Start.Date', 'End.Date']]

df_all_sworn_units = df_all_sworn_units.rename(columns={
    'UID': 'officer_id',
    'Unit': 'unit',
    'Start.Date': 'start_date',
    'End.Date': 'end_date'
})

df_unit_history = df_unit_history.rename(columns={
    'UID': 'officer_id',
    'Unit': 'unit',
    'Start.Date': 'start_date',
    'End.Date': 'end_date'
})

## Clean Unit History data

#### Concat 2 data files and drop duplicated rows

In [5]:
df = pd.concat([df_unit_history, df_all_sworn_units])\
        .drop_duplicates(['officer_id', 'unit', 'start_date', 'end_date'])\
        .sort_values(['officer_id', 'unit'])

#### Do following clean steps
- Replace NaN value to None
- Drop all misinfomation rows which has empty unit, start_date and end_date
- Drop invalid rows which has start_date > end_date
- Drop duplicated rows

In [6]:
df = df.where((pd.notnull(df)), None)
df = df[~((df['unit']==-999) & (df['start_date'].isnull()) & (df['end_date'].isnull()))]
df = df[~(df['start_date'] > df['end_date'])]

** Sort data by `officer_id`, `unit`, `end_date`, `start_date` accordingly **

In [7]:
df = df.sort_values(['officer_id', 'unit', 'end_date', 'start_date'])

## Import and print out the output

In [8]:
tqdm.pandas(tqdm_notebook(), desc='Import Officer History')
df.progress_apply(
    lambda x: import_officer_history(x, import_db), 
    axis=1
)

pd.DataFrame.from_records(OfficerHistory.objects.using(import_db).all().values(
    'id', 'officer_id','officer__first_name', 'officer__last_name', 'unit__unit_name', 'effective_date', 'end_date'
))

A Jupyter Widget

Import Officer History: 220769it [13:35, 270.69it/s]

,effective_date,end_date,id,officer__first_name,officer__last_name,officer_id,unit__unit_name
0,2016-06-05,None,1,Jeffery,Aaron,1,003
1,None,2007-03-28,2,Jeffery,Aaron,1,014
2,2007-03-29,2016-06-04,3,Jeffery,Aaron,1,014
3,None,2007-03-28,4,Karina,Aaron,2,015
4,2007-03-29,None,5,Karina,Aaron,2,015
5,1976-08-19,1976-08-20,6,Daniel,Abate,3,001
6,1971-01-16,1976-08-18,7,Daniel,Abate,3,004
7,1970-06-15,1971-01-15,8,Daniel,Abate,3,022
8,1976-08-21,None,9,Daniel,Abate,3,543
9,1996-09-12,2005-05-25,10,Anthony,Abbate,4,011
10,1995-11-09,1996-09-11,11,Anthony,Abbate,4,019
11,2005-05-26,None,12,Anthony,Abbate,4,020
12,1994-12-05,1995-11-08,13,Anthony,Abbate,4,044
13,1971-07-22,1973-06-15,14,Carmel,Abbate,5,016
14,1969-08-16,1971-07-21,15,Carmel,Abbate,5,018
15,1969-01-06,1969-08-15,16,Carmel,Abbate,5,022
16,1973-06-16,1973-07-24,17,Carmel,Abbate,5,065
17,1995-04-27,None,18,Carmel,Abbate,5,640
18,1973-07-25,1995-04-26,19,Carmel,Abbate,5,652
19,1976-06-22,1980-01-09,20,Carmen,Abbate,6,013
20,1971-08-08,1976-06-21,21,Carmen,Abbate,6,020
21,1980-01-10,1980-01-11,22,Carmen,Abbate,6,024
22,1980-01-12,None,23,Carmen,Abbate,6,025
23,1955-04-16,1961-04-15,24,Carmen,Abbate,6,032
24,1954-10-16,1955-04-15,25,Carmen,Abbate,6,044
25,1961-12-16,1965-08-18,26,Carmen,Abbate,6,065
26,1965-08-19,1971-08-07,27,Carmen,Abbate,6,066
27,1961-04-16,1961-12-15,28,Carmen,Abbate,6,167
28,1997-11-06,2013-10-12,29,Terry,Abbate,7,012
29,2013-10-13,None,30,Terry,Abbate,7,016
...,...,...,...,...,...,...,...
115094,None,None,115095,Cynthia,Green,32008,171
115095,None,1993-06-23,115096,Josephine,Hampton,32009,003
115096,None,None,115097,Doris,Haynes,32010,005
115097,None,1996-12-15,115098,Doris,Haynes,32010,018
115098,None,1987-05-27,115099,Doris,Haynes,32010,044
115099,None,1999-06-19,115100,Doris,Haynes,32010,071
115100,None,1997-12-03,115101,Doris,Haynes,32010,072
115101,None,1988-03-02,115102,Cheryl,Jackson,32011,002
115102,None,1996-12-14,115103,Cheryl,Jackson,32011,004
115103,None,1991-02-27,115104,Cheryl,Jackson,32011,005
115104,None,1986-04-02,115105,Cheryl,Jackson,32011,044
115105,None,None,115106,Cheryl,Jackson,32011,610
115106,None,1982-01-06,115107,James,Joyce,32012,015
115107,None,1987-05-31,115108,James,Joyce,32012,019
115108,None,None,115109,James,Joyce,32012,025
115109,None,1986-04-02,115110,James,Martin,32013,002
115110,None,1988-08-17,115111,James,Martin,32013,003
115111,None,None,115112,James,Martin,32013,018
115112,None,1986-03-02,115113,James,Martin,32013,044
115113,None,2006-02-01,115114,James,Martin,32013,142
115114,None,2006-01-04,115115,James,Martin,32013,765
115115,None,None,115116,Peter,Palka,32014,044
115116,None,1991-01-30,115117,Michael,Simi,32015,019
115117,None,None,115118,Michael,Simi,32015,050
115118,None,1986-06-25,115119,Michael,Simi,32015,123
115119,None,2010-11-10,115120,Michael,Simi,32015,123
115120,None,2007-02-28,115121,Michael,Simi,32015,124
115121,None,2007-02-28,115122,Michael,Simi,32015,276
115122,None,1979-10-14,115123,Robert,Smith,32016,005
115123,None,None,115124,Robert,Smith,32016,602