In [1]:
import pandas as pd
from tqdm import tqdm, tqdm_notebook

from data_importer.base.storage import AzureStorage
from data_importer.base.cleaner import DataCleaner, strip, titleize

In [2]:
storage = AzureStorage(account_name='cpdbv2data', 
                       account_key='your-key-here',
                       share='cleaned-data')

import_db = 'import'

## Read profiles data

In [3]:
df = pd.read_csv(
    storage.path_for('profiles/final-profiles.csv'),
    usecols=['UID', 'First.Name', 'Last.Name']
)

df = df.rename(columns={
    'UID': 'id',
    'Last.Name': 'last_name',
    'First.Name': 'first_name'
})

## Clean up the data

In [4]:
cleaner = DataCleaner(
    schema={
        'first_name': [strip, titleize],
        'last_name': [strip, titleize],
    }
)
cleaner.perform(df)

100%|██████████| 2/2 [00:03<00:00,  1.69s/it]

          id first_name      last_name
0          1    Jeffery          Aaron
1          2     Karina          Aaron
2          3     Daniel          Abate
3          4     Carmel         Abbate
4          5     Carmen         Abbate
5          6    Anthony         Abbate
6          7      Terry         Abbate
7          8       Leon          Abbey
8          9    Michael          Abbey
9         10       Leon          Abbey
10        11      Laura         Abbott
11        12     Andrew         Abbott
12        13       Dale         Abbott
13        14  Elizabeth         Abbott
14        15       Zaid       Abdallah
15        16       Aziz    Abdelmajeid
16        17     Moulay       Abdullah
17        18      Jason        Abejero
18        19  Restituto        Abejero
19        20    Kenneth          Abels
20        21    Deborah        Abelson
21        22     Eugene       Abington
22        23    Patrick          Abney
23        24       John        Abraham
24        25      Nancy        Abraham
25        26        Jos        Abraham
26        27       Paul          Abram
27        28    Anthony          Abram
28        29      Henry         Abrams
29        30   Nicholas       Abramson
...      ...        ...            ...
32495  32496      Jason  Vonreichbauer
32496  32497     Thomas          Walsh
32497  32498    Maureen          Weber
32498  32499     Steven         Witnik
32499  32500     System          Chris
32500  32501   Maximina          Marte
32501  32502     Carlos       Aparicio
32502  32503     Alicia          Blake
32503  32504    Kathryn         Dickey
32504  32505   Angelica        Dobynes
32505  32506    Richard        Francis
32506  32507     Sergio       Gallegos
32507  32508     Robert         Garcia
32508  32509      Brian         Gordon
32509  32510      Nakia         Harvey
32510  32511    Randall         Hiller
32511  32512      Tanoa       Kittrell
32512  32513      Erica       Marchand
32513  32514    Marisol        Mendoza
32514  32515       Alba        Morales
32515  32516    Timothy        Naleway
32516  32517    Sanavia        Pickett
32517  32518  Kimmerrie       Pikowski
32518  32519      David          Sebok
32519  32520  Christian           Shiu
32520  32521      James        Stewart
32521  32522      Kevin         Taylor
32522  32523   Mercedes         Watson
32523  32524     Dwight          White
32524  32525  Quinretta          White

[32525 rows x 3 columns]

In [5]:
df = df[0:32140]

## Update officer name

In [6]:
def update_officer_name(data):
    officer = Officer.objects.using(import_db).get(pk=data['id'])
    officer.first_name = data['first_name']
    officer.last_name = data['last_name']
    officer.save()

In [7]:
tqdm.pandas(tqdm_notebook(), desc='Updating Officer Name')

df.progress_apply(update_officer_name, axis=1)
pd.DataFrame.from_records(Officer.objects.using(import_db).all().values())

A Jupyter Widget

Updating Officer Name: 32140it [02:07, 252.10it/s]

,active,appointed_date,birth_year,first_name,gender,id,last_name,middle_initial,race,rank,suffix_name,tags
0,No,1969-01-06,1942.0,Carmen,M,5,Abbate,None,White,,None,[]
1,No,1954-10-16,1930.0,Anthony,M,6,Abbate,None,White,,None,[]
2,Yes,1995-12-04,1972.0,Terry,M,7,Abbate,None,White,,None,[]
3,No,1990-03-26,1945.0,Leon,M,8,Abbey,None,Black,,None,[]
4,No,1949-03-16,1923.0,Michael,M,9,Abbey,None,Black,,None,[]
5,No,1970-12-14,1949.0,Laura,M,11,Abbott,None,White,,None,[]
6,No,1982-11-29,1953.0,Andrew,M,12,Abbott,None,White,,None,[]
7,No,1987-12-07,1958.0,Dale,F,13,Abbott,None,White,,None,[]
8,No,1986-07-14,1965.0,Elizabeth,F,14,Abbott,None,White,,None,[]
9,Yes,2012-11-30,1983.0,Zaid,M,15,Abdallah,None,White,,None,[]
10,Yes,2006-12-18,1978.0,Aziz,M,16,Abdelmajeid,None,White,,None,[]
11,No,2008-04-28,1984.0,Moulay,M,17,Abdullah,None,API,,None,[]
12,Yes,1989-12-26,1958.0,Jason,M,18,Abejero,None,Black,,None,[]
13,No,1999-10-25,1976.0,Restituto,M,19,Abejero,None,API,,None,[]
14,No,1999-12-13,1949.0,Kenneth,M,20,Abels,None,API,,None,[]
15,No,1970-06-15,1949.0,Deborah,M,21,Abelson,None,White,,None,[]
16,No,1985-09-09,1957.0,Eugene,F,22,Abington,None,White,,None,[]
17,Yes,1964-06-08,1937.0,Patrick,M,23,Abney,None,Black,,None,[]
18,No,2015-06-29,1990.0,John,M,24,Abraham,None,White,,None,[]
19,Yes,1947-12-22,1925.0,Nancy,M,25,Abraham,None,White,,None,[]
20,No,1950-04-03,1922.0,Jos,M,26,Abraham,None,White,,None,[]
21,No,2014-04-28,1986.0,Paul,F,27,Abram,None,API,,None,[]
22,Yes,2016-06-27,1988.0,Anthony,M,28,Abram,None,Black,,None,[]
23,No,1976-04-26,1939.0,Henry,M,29,Abrams,None,Black,,None,[]
24,Yes,1986-06-16,1963.0,Nicholas,M,30,Abramson,None,Black,,None,[]
25,No,1967-12-11,1937.0,John,M,31,Abran,None,White,,None,[]
26,No,1977-11-01,1950.0,Alexander,M,32,Abrasevic,None,White,,None,[]
27,No,1973-10-22,1946.0,Ricardo,M,33,Abreu,None,Hispanic,,None,[]
28,Yes,1998-06-29,1973.0,Floyd,M,34,Abron,None,Black,,None,[]
29,No,1994-10-03,1962.0,Kathy,F,35,Abston,None,Black,,None,[]
...,...,...,...,...,...,...,...,...,...,...,...,...
32110,No,1994-08-01,1967.0,John,M,31689,Ziemblicki,None,Hispanic,,None,[]
32111,No,1973-02-19,1946.0,Samuel,M,31734,Zroski,None,White,,None,[]
32112,Unknown,2005-10-31,1977.0,Larron,F,31794,Alexander,None,White,,None,[]
32113,Unknown,1964-06-29,1936.0,Cherron,M,31813,Bady,None,White,,None,[]
32114,Unknown,2012-12-14,1975.0,Elizabeth,F,31840,Briggs,None,White,,None,[]
32115,Unknown,1962-03-05,1938.0,Wilfred,M,31866,Chapleau,None,Hispanic,,None,[]
32116,Unknown,1991-12-02,1970.0,Jack,M,31893,Costa,None,White,,None,[]
32117,Unknown,1992-06-29,1954.0,Edward,F,31903,Daniels,None,White,,None,[]
32118,Unknown,1993-12-13,1968.0,Michael,M,31942,Dyra,None,White,,None,[]
32119,Unknown,2012-12-14,1985.0,Eibar,M,31974,Fuentes,None,Hispanic,,None,[]
32120,No,2007-10-29,1977.0,Clifford,M,31168,Wood,None,Black,,None,[]
32121,No,2006-07-31,1970.0,Robert,F,31178,Woodruff,None,Black,,None,[]
32122,No,1959-03-01,1931.0,Steven,M,31211,Woods,None,White,,None,[]
32123,No,2001-12-17,1979.0,Steven,M,31244,Worsham,None,White,,None,[]
32124,No,2004-09-27,1980.0,Thomas,M,31249,Wortham,None,White,,None,[]
32125,No,1999-05-10,1957.0,Alfred,F,31284,Wright,None,White,,None,[]
32126,No,2000-02-28,1972.0,Marian,M,31309,Wrobel,None,White,,None,[]
32127,No,1997-09-02,1957.0,Erwin,F,31329,Wykowski,None,White,,None,[]
32128,No,2013-04-01,1988.0,Dennis,M,31335,Wynn,None,White,,None,[]
32129,No,1964-06-15,1940.0,April,M,31382,Yates,None,White,,None,[]
32130,No,2002-12-02,1980.0,Brent,M,31410,Yoshikawa,None,Black,,None,[]
32131,Yes,2016-04-25,1981.0,James,M,31420,Young,None,Black,,None,[]
32132,No,1993-12-13,1969.0,Wallace,M,31455,Young,None,Black,,None,[]
32133,Unknown,2012-11-30,1983.0,James,M,31976,Gallagher,None,Hispanic,,None,[]
32134,Unknown,1985-04-08,NaN,Victor,F,32011,Gurrola,None,Black,,None,[]
32135,Unknown,1981-03-02,NaN,Christian,F,32031,Hattenberger,None,White,,None,[]
32136,Unknown,2006-07-16,1986.0,Maurizio,M,32063,Inzerra,None,,,None,[]
32137,Unknown,2003-02-24,1972.0,George,F,32090,Karuntzos,None,,,None,[]
32138,Unknown,1959-03-16,1934.0,David,M,32105,Kleinfelder,None,,,None,[]
32139,Unknown,2016-08-29,1988.0,Terrance,F,32140,Looney,None,,,None,[]